* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pink: #ad5389;
  --dark-pink: #8b426e;
  --phiolet: #3c1053;
  --light-phiolet: #5b187e;
  --dark: #0c0f12;
  --white: #fff;
  --gray: #fafafa;
  --phiolet-gradient: linear-gradient(to right, #ad5389, #3c1053);

}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Rubik', sans-serif;
  background-color: var(--gray);
}

.container {
  padding: 0 calc(50% - 720px);
}