* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --pink: #ad5389;
  --dark-pink: #8b426e;
  --phiolet: #3c1053;
  --light-phiolet: #5b187e;
  --dark: #0c0f12;
  --white: #fff;
  --gray: #fafafa;
  --tomato: #d82f2f;
  --phiolet-gradient-bottom: linear-gradient(to bottom, #3c1053, #ad5389);
  --phiolet-gradient-right: linear-gradient(to right, #ad5389, #3c1053);

}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  font-family: 'Rubik', sans-serif;
}

svg {
  pointer-events: none;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h1, h2, h3 {
  margin-bottom: 1rem;
  position: relative;
}

h2::after, h3::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 32px;
  background:var(--phiolet-gradient-right);
}

ol, ul {
  list-style-position: inside;
}

li{
  padding: .7rem;
}

.container {
  padding-left: calc(50% - 640px);
  padding-right: calc(50% - 640px);
  min-width: 319px;
}

.wrapper {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--phiolet-gradient-bottom);
  color: var(--dark);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.logo {
  display: flex;
  gap: .8rem;
  align-items: center;
  flex-basis: 221px;
}

.logo__text {
  font-size: 18px;
  font-weight: 800;
}

.logo__figure {
  padding: 7px;
  font-size: 14px;
  font-weight: 800;
  color: var(--white);
  border-radius: 5px;
  background: var(--phiolet-gradient-right);

}

.burger {
  display: none;
  width: 32px;
  height: 32px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.burger__icon {
  fill: var(--dark);
  transition: all .3s;
}

.burger__icon:hover, .burger__icon:active, .burger__icon:focus{
  fill: var(--dark-pink);
}

.menu {
  display: flex;
  column-gap: 32px;
}

.menu__item {
  list-style-type: none;
}

.close {
  position: absolute;
  display: none;
}

.menu__link {
  position: relative;
  display: block;
  padding: 16px 0;
  font-size: 16px;
  text-decoration: none;
  color: var(--dark);
  transition: all .3s;
}

.menu__link:hover {
  color: var(--phiolet);
}

.menu__link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  content: "";
  border-bottom: 3px solid;
  border-image: var(--phiolet-gradient-right) 47% 0;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}

.menu__link:hover::after{
  transform: scaleX(1);
}

.cv-block {
  margin-bottom: 3rem;
}

.cv-block__content_flx {
  display: flex;
  align-items:center
}

.cv-block__img {
  flex: 1 0 320px;
}

.cv-block__text{
  flex: 1 1 auto;
 padding-left: 2rem;
}

.cv-block__img img{
  max-width: 100%;
  height: auto;
}

.flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex_big {
  align-items: center;
}

.flex_start{
  justify-content: flex-start;
  gap: 1rem;
}

.intro-block {
  min-height: 70vh;
}

.intro-block__title {
  display: flex;
  flex-direction: column;
  justify-content:center;
  min-height: 70vh;
  gap:1rem;
  padding-top:calc(10% + 50px);
  padding-bottom: 10%;
  height: auto;
}

.content-wrapper{
  max-width: 1280px;
  margin: 1rem auto;
  padding: 1rem 3rem 3rem;
  border-radius:20px;
  box-shadow:0 0 50px rgba(0, 0, 0, 0.7);
  background:var(--white);
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items:center;
  align-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  color: var(--dark);
}

.footer__link{
  text-decoration: none;
  color:var(--dark);
}

.github-link {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.github-link:hover{
  text-decoration: underline;
}

.github-link__icon {
  width: 32px;
  height: 32px;
}

.rsschool-link__img{
  height: 32px;
  width: auto;
}

@media screen and (max-width: 1280px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .burger {
    display: block;
  }

  .menu {
    position: absolute;
    right: -100%;
    top: 0;
    width:320px;
    max-width: 100%;
    flex-direction: column;
    row-gap: .3rem;
    transition: all .5s;
    padding: 2rem 3rem;
    height:100vh;
    overflow-y:auto;
  }
  
  .menu.active {
    right: 0;
    background-color: var(--white);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  .close {
    top: 10px;
    right: 1rem;
    display: block;
    width: 32px;
    height: 32px;
    fill: var(--dark);
  }

  .close:hover, .close:focus, .close:active {
    fill: var(--tomato);
  }

  .menu__link{
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: inline-block;
    width: auto;
  }
}

.svg-hidden {
  position: absolute;
  left: -9999px;
  display: none;
}
